:root {
  --shadow-sm: 0 1px 1px -1px rgba(0, 0, 0, 0.08);
  --shadow-md: 0 2px 5px -1px rgba(0, 0, 0, 0.08);
  --shadow-lg: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
  --shadow-xl: 0 3px 10px 0 rgba(0, 0, 0, 0.12),
    0 10px 10px -6px rgba(0, 0, 0, 0.12);
  --border-1: rgba(0, 0, 0, 0.12);
  --border-2: rgba(0, 0, 0, 0.2);
  --header-height: 4rem;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  /* color */
  --white: #fff;
  --primary: #fdb713;
  --primary-light: #ffe19c;
  --primary-dark: #e3a107;
  --secondary-100: #f2f9ff;
  --secondary-200: #c9e3f8;
  --secondary-300: #51a2e7;
  --secondary-400: #0077db;
  --secondary-500: #00569e;
  --secondary-600: #004075;
  --secondary-700: #001c33;
  --grays-100: #f8fafb;
  --grays-150: #e2e6e9;
  --grays-200: #bec6cc;
  --grays-300: #959ea6;
  --grays-400: #6c7680;
  --grays-500: #4b5259;
  --grays-600: #2b2f33;
  --grays-700: #0a0b0c;
  --info-100: #e8f9fc;
  --info-300: #a0e8f3;
  --info-400: #17a2b8;
  --info-500: #0f697a;
  --info-700: #072f36;
  --border-1: rgba(0, 0, 0, 0.12);
  --border-2: rgba(0, 0, 0, 0.2);
  --overlay: rgba(10, 11, 12, 0.65);
  --bg: #f6f6f6;
}
@font-face {
  font-family: Iransans;
  src: url("../../public/fonts/woff/IRANSansWeb.woff");
  font-weight: normal;
}
@font-face {
  font-family: Iransans;
  src: url("../../public/fonts/woff/IRANSansWeb_Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: Iransans;
  src: url("../../public/fonts/woff/IRANSansWeb_Light.woff");
  font-weight: lighter;
}
@font-face {
  font-family: Iransans;
  src: url("../../public/fonts/woff/IRANSansWeb_Medium.woff");
  font-weight: medium;
}
@font-face {
  font-family: Iransans;
  src: url("../../public/fonts/woff-num/IRANSansWeb\(FaNum\).woff");
}
@font-face {
  font-family: Iransans;
  src: url("../../public/fonts/woff/IRANSansWeb_Black.woff");
  font-weight: 800;
}
/*scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--grays-100);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grays-200);
  border-radius: 10px;
  height: 5px;
}

/* main styles */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: inherit;
  border: 0 solid var(--border-1);
}

html,
body {
  font-family: Iransans;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

summary {
  outline: none;
}
details {
  display: block;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button {
  display: inline-block;
}
hr {
  border-width: 1px 0 0;
  border-color: var(--border-1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
/* define custom styles*/
.a-card {
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
  border: solid 1px var(--border-1);
  background-color: var(--white);
}
.a-pill {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 9999px;
  background-color: #fff;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #4b5259;
  line-height: 1rem;
  border: 1px solid;
  border-color: var(--border-1);
  cursor: pointer;
}
.a-pill-dropdown {
  white-space: nowrap;
  cursor: pointer;
}
.a-pill.has-icon {
  -webkit-padding-end: 0.5rem;
  padding-inline-end: 0.5rem;
}
.a-pill-dropdown__caret {
  transform: rotate(90deg);
}

.a-input-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}
.a-input.is-lg {
  font-size: 1rem;
  height: 3rem;
  line-height: 1.75rem;
}

.a-input {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  width: 100%;
  font-weight: 400;
  padding: 0 8px;
  background-clip: padding-box;
  color: var(--grays-300);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.4rem;
  height: 2.5rem;
  --prepend-size: 0px;
  --active-label-transform: translate(
    calc(-6px + var(--prepend-size)),
    -1.25rem
  );
}
.a-input-group.is-horizontal > :not(.is-last) {
  --input-border-left: 0;
  --input-border-left-radius: 0;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.a-input__input {
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.a-input input {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 6px 8px;
  background: none;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  caret-color: inherit;
  border-radius: 8px;
  color: var(--grays-600);
  font-size: inherit;
}

.a-input__label {
  display: inline-block;
  margin: 0;
  transform-origin: right;
  margin-right: var(--prepend-size);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 4px 5px;
  z-index: 1;
}
.input-group-swap-btn {
  position: relative;
  display: flex;
  align-self: stretch;
  flex: 0 0 auto;
}
.input-group-swap-btn:before {
  position: absolute;
  content: " ";
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  border: 1px solid var(--grays-200);
  border-right-width: 0;
  transition: border-color linear 0.15s;
}
.input-group-swap-btn > button {
  border: 1px solid var(--grays-200);
  border-radius: 50%;
  background: var(--white);
  width: 2rem;
  height: 2rem;
  margin: 8px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grays-500);
  z-index: 1;
}
.btn {
  background-color: transparent;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  --padding-inline: 0.25rem;
  padding: 0.25rem var(--padding-inline);
  --button-size: auto;
  min-height: var(--button-size);
  border: solid 1px var(--border-1);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: var(--shadow-sm);
  --outline-width: 2px;
  outline: var(--outline-width) none var(--grays-500);
  outline-offset: calc(var(--outline-width) * -1);
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: background-color, border-color, opacity;
}
.input-group-swap-btn > button > svg {
  width: 1rem;
  height: 1rem;
}
.input-group-swap-btn:after {
  left: 0;
  right: 50%;
  border-left-width: 0;
}
.a-input-group.is-horizontal > :not(.is-first) {
  --input-border-right: 0;
  --input-border-right-radius: 0;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.a-input-group.is-horizontal > .a-input {
  margin-bottom: 0;
}
.a-input.is-lg {
  font-size: 1rem;
  height: 3rem;
  line-height: 1.75rem;
  --active-label-transform: translate(
    calc(-6px + var(--prepend-size)),
    -1.55em
  );
}
.btn.is-solid-primary {
  background-color: var(--primary);
  color: var(--black);
}

.btn.is-lg {
  --padding-inline: 1rem;
  --button-size: 3rem;
  font-size: 1rem;
}
.btn.is-block {
  display: flex;
  width: 100%;
}

.a-input-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.a-input__label,
.a-input legend {
  text-align: right;
  transition: all linear 0.15s;
  cursor: text;
}

.a-input legend {
  height: 10px;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

fieldset {
  margin: 0;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
.a-input.is-lg .a-input__label {
  padding: 9px 8px;
}
.input-group-swap-btn:after {
  left: 0;
  right: 50%;
  border-left-width: 0;
}
.input-group-swap-btn:after,
.input-group-swap-btn:before {
  position: absolute;
  content: " ";
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  border: 1px solid var(--grays-200);
  border-right-width: 0;
  transition: border-color linear 0.15s;
}
.input-group-swap-btn:after {
  left: 0;
  right: 50%;
  border-left-width: 0;
}
.a-input-group__separator {
  align-self: stretch;
  margin-top: 0.5px;
  flex: 0 0 1px;
  background-color: var(--grays-200);
  transition: background-color linear 0.12s;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.a-input.is-active .a-input__label {
  left: 0;
  transform: var(--active-label-transform) scale(0.625);
  color: var(--grays-400);
}

.a-input.is-lg .a-input__label {
  padding: 9px 8px;
}
.a-input__label,
.a-input legend {
  text-align: right;
  transition: all linear 0.15s;
  cursor: text;
}
.a-input__label {
  display: inline-block;
  margin: 0;
  transform-origin: right;
  margin-right: var(--prepend-size);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 4px 5px;
  z-index: 1;
}
/*header*/
.header-visible {
  top: 0;
  transition: top 0.4s ease-out;
}

.header-hidden {
  top: -100px;
  transition: top 0.4s ease-out;
}
.header__main {
  display: flex;
  width: 100%;
  align-items: center;
  height: var(--header-height);
}
.header-menu {
  margin: 0;
  display: flex;
  height: 100%;
  list-style-type: none;
  align-items: center;
  padding: 0;
  color: #4b5259;
}

.btn.is-raw {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  box-shadow: none;
  transition-property: box-shadow;
}
.btn.is-md {
  --padding-inline: 0.75rem;
  --button-size: 2.5rem;
  font-size: 0.875rem;
}

.a-divider {
  align-self: stretch;
  min-height: 1px;
  min-width: 1px;
  margin: 0;
  border: none;
  flex: 0 1 0;
  height: auto;
  width: auto;
  max-width: 100%;
  background: var(--border-1);
}

.header-menu > .a-divider {
  margin: 1.25rem 0.25rem;
}

.a-divider {
  align-self: stretch;
  min-height: 1px;
  min-width: 1px;
  margin: 0;
  border: none;
  flex: 0 1 0;
  height: auto;
  width: auto;
  max-width: 100%;
  background: var(--border-1);
}

.v-dropdown {
  position: absolute;
  top: 100%;
  right: var(--dropdown-offset, 0);
  z-index: 500;
}
.header-menu__children {
  margin-top: 0.5rem;
  width: 8rem;
  padding: 0;
  --tw-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.12),
    0 10px 10px -6px rgba(0, 0, 0, 0.12);
  --tw-shadow-colored: 0 3px 10px 0 var(--tw-shadow-color),
    0 10px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* other services */
.text-headline-md {
  font-weight: 700;
  line-height: 170%;
  font-size: 1rem;
}
.badge-wrapper {
  flex: 1 1 0%;
}

.badge-new {
  font-weight: 400;
  line-height: 180%;
  border-radius: 9999px;
  background-color: #84e199;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  color: #0a0b0c;
}
/* app */
.a-card.is-flat {
  box-shadow: none;
}

.homepage p {
  line-height: 2.3;
}

/*faq section*/
.faq-wrapper {
  margin-top: 2rem;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
}
.faq-wrapper__title {
  margin-top: 0;
  font-size: 1.25rem;
  color: #2b2f33;
}
.a-accordion {
  border-width: 1px;
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
  line-height: 2.25;
}
.is-grouped .a-accordion:first-of-type {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.is-grouped .a-accordion:not(:last-of-type) {
  border-bottom-width: 0px;
}

.is-grouped .a-accordion {
  border-radius: 0;
}
.a-accordion__button {
  display: flex;
  padding: 20px;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--grays-500);
  align-items: center;
  cursor: pointer;
  list-style: none;
}
.a-accordion__icon {
  margin-left: 12px;
  border-radius: 50%;
  background-color: var(--info-100);
  color: var(--info-400);
  padding: 5px;
  flex: 0 0 auto;
  vertical-align: middle;
}
.a-accordion.open .a-accordion__expand {
  background-color: var(--grays-100);
}
.a-accordion__expand {
  margin-right: auto;
  color: #6c7680;
  background-color: var(--white);
  padding: 7px;
  border: none;
  border-radius: 100%;
  transition: all ease 0.2s;
  cursor: pointer;
}
.faq-wrapper__description {
  white-space: pre-wrap;
  font-size: 0.875rem;
  color: #6c7680;
}
.a-accordion__expand > svg {
  width: 1rem;
  height: 1rem;
  transform: rotate(180deg);
}
.a-accordion__expand > .open {
  transform: rotate(0deg);
}
.a-accordion__button:hover .a-accordion__expand {
  background-color: var(--secondary-100);
  color: var(--secondary-400);
}

/* footer styles */
.footer {
  border-top: solid 1px var(--grays-150);
  background-color: #fff;
  color: #2b2f33;
}
.footer__content {
  padding-top: 0.5rem;
  font-size: 0.875rem;
  color: #0a0b0c;
}
.intro-service-landing {
  display: flex;
  font-size: 0.75rem;
  list-style: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}
.intro-service-landing li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  flex-grow: 1;
  color: #4b5259;
  flex-basis: 33.33%;
}
.intro-service-landing__text {
  width: 256px;
}

/* footer */
.footer-link[data-v-6e333a11] {
  transition: all ease 0.15s;
}

.footer-link[data-v-6e333a11] {
  display: block;
  font-size: 0.875rem;
}
.footer__business-logos[data-v-6e333a11] {
  font-size: 0.75rem;
}
.sr-only,
.fa-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-only {
  position: absolute !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: 0;
  white-space: nowrap !important;
}
.footer-card[data-v-6e333a11] {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  border-width: 1px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2;
  padding: 5px 16px;
  border-radius: 8px;
}
.truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

/* slider */
.a-swiper__main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.a-swiper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.a-swiper__pagination {
  display: flex;
  margin-top: 0.75rem;
}
.swiper-pagination {
  display: flex;
  margin-top: 1.2rem;
  justify-content: center;
  position: relative !important;
}
.swiper-pagination-bullet-active {
  background: #fdb713 !important;
}
/* product tab */
.product-box {
  position: relative;
  margin-bottom: 2rem;
  z-index: 20;
  padding: 0.5rem 0 2.25rem;
  margin-top: -90px;
}
.tab-links {
  position: relative;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 0 -1px;
  white-space: nowrap;
  max-width: 100%;
  font-weight: 500;
  color: var(--grays-500);
}
.tab-links > li {
  display: inline-block;
}
.tab-links > li span {
  display: block;
  font-size: 1rem;
  min-width: 6rem;
  text-align: center;
}
.tab-links a {
  color: var(--grays-500);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: block;
  position: relative;
  display: block;
  padding: 0.5rem 1.25rem;
  transition: all ease 0.2s;
}
.product-tab-box {
  margin-bottom: 1.5rem;
  border-bottom-width: 1px;
  text-align: center;
}
.tab-view {
  position: relative;
  transition: height 0.3s ease;
  padding: 0 2.25rem;
}
.tab-links > li.is-active > .tab-links-item {
  color: var(--secondary-400);
}
.tab-links-active {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 5px;
  border-radius: 3px 3px 0 0;
  width: 100px;
  background-color: var(--secondary-400);
  transform-origin: right;
  transition: transform ease 0.2s;
  visibility: hidden;
}
