.product-box {
  position: relative;
  margin-bottom: 2rem;
  z-index: 20;
  padding: 0.5rem 0 2.25rem;
  margin-top: -90px;
}
.tab-links {
  position: relative;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0 0 -1px;
  white-space: nowrap;
  max-width: 100%;
  font-weight: 500;
  color: var(--grays-500);
}
.tab-links > li {
  display: inline-block;
}
.tab-links > li span {
  display: block;
  font-size: 1rem;
  min-width: 6rem;
  text-align: center;
}
.tab-links a {
  color: var(--grays-500);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: block;
  position: relative;
  display: block;
  padding: 0.5rem 1.25rem;
  transition: all ease 0.2s;
}
.product-tab-box {
  margin-bottom: 1.5rem;
  border-bottom-width: 1px;
  text-align: center;
}
.tab-view {
  position: relative;
  transition: height 0.3s ease;
  padding: 0 2.25rem;
}
.tab-links > li.is-active > .tab-links-item {
  color: var(--secondary-400);
}
