.a-input fieldset {
  position: absolute;
  pointer-events: none;
  border: 1px solid var(--grays-200);
  top: -4.5px;
  right: 0;
  left: 0;
  bottom: 0;
  transition: border-color linear 0.15s;
  border-right-width: var(--input-border-right, 1px);
  border-left-width: var(--input-border-left, 1px);
  border-radius: var(--input-border-left-radius, 8px)
    var(--input-border-right-radius, 8px) var(--input-border-right-radius, 8px)
    var(--input-border-left-radius, 8px);
}
